@* @page "/counter"
@rendermode InteractiveServer

<PageTitle>New User</PageTitle>

<h3>New User</h3>
 

<EditForm Model="newUser" OnValidSubmit="@HandleFormSubmission" Enhance>
	<DataAnnotationsValidator />
	<ValidationSummary></ValidationSummary>
	<label for="ID">ID</label>
	<InputText id="ID" @bind-Value="newUser.ID"/>

	<br />

	<label for="Name">Name</label>
	<InputText id="Name" @bind-Value="newUser.Name"></InputText>

	<br />

	<label for="Email">Email</label>
	<InputText id="Email" type="email" @bind-Value="newUser.Email"></InputText>

	<br />
	
	<p>Address:</p>
	
	<br />

	<label for="Street">Street</label>
	<InputText id="Street" @bind-Value="newUser.Address.Street"></InputText>

	<br />

	<label for="City">City</label>
	<InputText id="City"></InputText>

	<br />

	<label for="ZipCode">Zip Code</label>
	<InputText id="ZipCode"></InputText>

	<br />

	<label for="Street">Street</label>
	<InputText id="Street"></InputText>

	<br />

	<p>Company</p>

	<br />

	<label for="CompanyName">Company Name</label>
	<InputText id="CompanyName"></InputText>

	<br />

	<label for="CatchPhrase">Catch Phrase</label>
	<InputText id="CatchPhrase"></InputText>

	<br />

	<button type="submit">Save</button>
 
</EditForm>


<p>@message</p>

@code{

	/*
	Text-inputs där vi fyller i användar-data (samma typ av data som används för sida 3)
	- Följande användardata ska representeras av minst 3 klasser
	-  id, name, email, adress(bestående av street, city, zipcode), company(name & catchphrase)
	en knapp som 'sparar användar data' (ingen data behöver dock sparas…)
		-  när vi trycker på spara-knappen så döljs formuläret och istället visas det användaren fyllt i
		- Exempelvis: "Du har sparat följande användare: Namn: ifyllt_namn, Email: ifylld_email" osv…
	*/

	string? message;

	NewUser newUser = new NewUser();

	public void InitializeValues()
	{
		//Blazor låter mig inte använda private
		//string _id = string.Empty;
		//string _name = string.Empty;
		//string _email = string.Empty;
		//string _street = string.Empty;
		//string _city = string.Empty;
		//string _zipCode = string.Empty;
		//string _company = string.Empty;
		//string _catchPhrase = string.Empty;
	}
	public void SaveData()
	{
		bool success = true;


		if (success)
		{
			DisplaySaveMessage();
		}
	}
	public void DisplaySaveMessage()
	{
		message = $"You have now saved the following information:";
		DisplayUser(newUser);
		InitializeValues();
		//ClearInputFields();
	}
	public void ClearInputFields()
	{

	}

	public static void DisplayUser(NewUser user)
	{
		string str = $"ID: {user.ID}, Name: {user.Name}, Email: {user.Email}\n{user.Address.DisplayAddress(user)}\n{user.Company.DisplayCompany(user)}";


	}

	public void HandleFormSubmission(EditContext editContext)
	{
		
	}
	//public void HandleValidSubmit(){}
} *@