@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

@if (!buttonClicked)
{
	<div>
		<button class="btn btn-dark" @onclick="FetchRandomCatImageAsync">Click here!</button>
	</div>
}
else
{
	<div>
		<button class="btn btn-dark" @onclick="FetchRandomCatImageAsync">Click again!</button>
		<br />
	</div>

	<img src="@catImage" style="margin: 5px;" width="300" />
}





