@page "/"

<PageTitle>Home</PageTitle>

<h1>Home page for Sara's Blazor app</h1>

Maybe there will be more here later

<button @onclick="MoveToNewUserPage">Register new user</button>

<button @onclick="MoveToUsersPage">Users</button>


@code {
	void MoveToNewUserPage()
	{

	}
	void MoveToUsersPage()
	{
		
	}
}
