@page "/"
@rendermode InteractiveServer

<PageTitle>Random Cat Image</PageTitle>	

	<div>
		<img src="@catImage" width="300" />
	</div>

	<br />

	<button class="btn btn-primary" @onclick="FetchRandomCatImageAsync">Generate new cat image</button>



